.generate{
  display: flex;
  justify-content: center;
}

.inp{
  display: flex;
  justify-content: center;
  margin-left: 42%;
  padding: 5vh;
}

.btt{
  text-decoration: none;
    margin-top: 5vh;
    background-color: rgba(252, 166, 97, 1);
    color: black;
    font-size: 600px;
    padding:3vh ;
    font-size: 15px;
    font-weight: 600; 
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 45%;
}

.butt:hover{
  background-color: rgb(101, 137, 237);
  color: white;
}

.butt:active {

background-color:rgb(171, 227, 171);

}
 